*:focus {
  outline: 0;
  outline: none;
}
#sf_admin_container h1 {
  width: 100%;
  color: #002255;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
ul.error_list li {
  color: #aa0000;
  text-shadow: 0 1px 1px #888888;
}
