[submodule "lib/vendor/symfony"]
	path = project/lib/vendor/symfony
	url = git://github.com/davidsblom/symfony-1.4.git

[submodule "project/plugins/sfDoctrineMooDooPlugin"]
	path = project/plugins/sfDoctrineMooDooPlugin
	url = git://github.com/RetroFOX/sfDoctrineMooDooPlugin.git
