project/cache/*
project/log/*

project/lib/filter/doctrine/sfDoctrineGuardPlugin/base/*
project/lib/form/doctrine/sfDoctrineGuardPlugin/base/*
project/lib/model/doctrine/sfDoctrineGuardPlugin/base/*
project/lib/filter/doctrine/base/*
project/lib/form/doctrine/base/*
project/lib/model/doctrine/base/*

project/web/uploads/*
project/web/images/mooDooGallery/*

project/config/databases.yml
project/web/error_log
project/error_log

