_basurero/*
cache/*
log/*

lib/filter/doctrine/sfDoctrineGuardPlugin/base/*
lib/form/doctrine/sfDoctrineGuardPlugin/base/*
lib/model/doctrine/sfDoctrineGuardPlugin/base/*
lib/filter/doctrine/base/*
lib/form/doctrine/base/*
lib/model/doctrine/base/*

config/databases.yml
