/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

*:focus {
  outline: 0;
  outline: none;
}
nav.menu > ul {
  padding: 140px 7px 7px;
  height: 52px;
}
nav.menu > ul li {
  float: left;
  list-style: none;
  margin: 0 4px;
  position: relative;
}
nav.menu > ul li a {
  color: #525252;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 48px;
  padding: 0 12px 0 8px;
  background: transparent url(backend/images/bg_menu.png) repeat-x left top;
  box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
nav.menu > ul li a span {
  display: block;
  float: left;
  margin: 9px 5px 9px 0;
  width: 30px;
  height: 30px;
  background: transparent url(backend/images/sprite_magic.png) repeat-x left -60px;
}
nav.menu > ul li a span.pages { background-position: -30px -60px; }
nav.menu > ul li a span.events { background-position: -60px -60px; }
nav.menu > ul li a span.config { background-position: -90px -60px; }
nav.menu > ul li a span.user { background-position: -120px -60px; }
nav.menu > ul li a span.close { background-position: -150px -60px; }
nav.menu > ul li a strong { color: #005aff; }
nav.menu > ul li a:hover {
  background-image: none;
  background-color: #fdfdfd;
  color: #636363;
}
nav.menu > ul li a:active {
  margin-top: 1px;
  margin-bottom: -1px;
}
nav.menu > ul li:hover > ul { display: block; }
nav.menu > ul ul {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
}
nav.menu > ul ul li {
  float: none;
  margin: 0;
  padding: 0;
}
nav.menu > ul ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 154px;
  height: 39px;
  line-height: 39px;
  padding: 0 10px;
  background: transparent url(backend/images/sprite_magic.png) repeat-x left -120px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
nav.menu > ul ul li a:hover {
  background: transparent url(backend/images/sprite_magic.png) repeat-x -160px -120px;
  color: #ffffff;
}
nav.menu > ul ul li a span {
  display: block;
  float: left;
  margin: 9px 5px 10px 0;
  width: 20px;
  height: 20px;
  background: transparent url(backend/images/sprite_magic.png) repeat-x left -100px;
}
nav.menu > ul ul li a span.add { background-position: -20px -100px; }
nav.menu > ul ul li a span.event { background-position: -40px -100px; }
nav.menu > ul ul li a span.cat { background-position: -60px -100px; }
nav.menu > ul ul li a span.cats { background-position: -80px -100px; }
nav.menu > ul ul li a span.users { background-position: -100px -100px; }
nav.menu > ul ul ul {
  left: 155px;
  top: 0px;
}
nav.menu > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
nav.menu > ul { display: inline-block; }
html[xmlns] nav.menu > ul { display: block; }
* html nav.menu > ul { height: 1%; }
