@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'FuturaLTMediumRegular';
	src: url('lte50186.eot');
	src: local('Futura LT Medium'), local('FuturaLT'), url('lte50186.woff') format('woff'), url('lte50186.ttf') format('truetype'), url('lte50186.svg#FuturaLT') format('svg');
}

@font-face {
	font-family: 'FuturaLTBoldRegular';
	src: url('lte50154.eot');
	src: local('Futura LT Bold'), local('FuturaLT-Bold'), url('lte50154.woff') format('woff'), url('lte50154.ttf') format('truetype'), url('lte50154.svg#FuturaLT-Bold') format('svg');
}

@font-face {
	font-family: 'FuturaLTBookBold';
	src: url('futuralt_bold.eot');
	src: local('Futura LT Book'), local('FuturaLT-Bold'), url('futuralt_bold.woff') format('woff'), url('futuralt_bold.ttf') format('truetype'), url('futuralt_bold.svg#FuturaLT-Bold') format('svg');
}

body {
		background: #000	none;
		color: #F4F4F4;
}

#header #logo {
    width: 188px !important;
    height: 165px !important;
    margin:0px;
    padding: 0px !important;
    position: relative;
}

#header #logo h1 a {
	width: 188px !important;
	height: 165px !important;
	display:block;
	text-indent:-9000px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#header #nav {
	display: block;
	height: 165px;
	width: 762px;
	background-color: #000;
}

#nav #menu {
	margin-top: 130px;
}

#header #logo h1 a:hover {
	background-position: left -165px;
}


.menu, .menu * {
	font-size:  11px;
	line-height:	1.7;
	color: #f1da34;
	margin:			0;
	padding:		0;
	list-style:		none;
}

.menu ul li {
	width:			100%;
}
	
.menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.menu li {
	float:			left;
	position:		relative;
}
.menu a {
	display:		block;
	position:		relative;
}

#hotel a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 49px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat 0px 0px !important;
}
#hotel a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat 0px -35px !important;
}
	
#casino a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 56px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -49px 0px !important;
}
#casino a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -49px -35px !important;
}

#eventos a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 166px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -105px 0px !important;
}
#eventos a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -105px -35px !important;
}

#espectaculos a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 90px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -271px 0px !important;
}
#espectaculos a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -271px -35px !important;
}

#promociones a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 90px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -361px 0px !important;
}
#promociones a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -361px -35px !important;
}

#gastronomia a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 90px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -451px 0px !important;
}
#gastronomia a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -451px -35px !important;
}

#giftshop a {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	text-indent: -5000px;
	width: 69px !important; height: 35px;
	background: transparent url(../images/nav_menu.png) no-repeat -541px 0px !important;
}
#giftshop a:hover {
	background: transparent url(../images/nav_menu.png) no-repeat -541px -35px !important;
}

#search {
	display:  block !important;
	padding: 0px !important; margin: 0px;
	width: 152px !important; height: 35px;
	background: transparent url(../images/header_buscador.png) no-repeat 0px 0px !important;
}
#search label #searchInput {
	outline: none;
	margin-top: 9px;
	margin-left: 26px;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	height: 15px;
	width: 113px;
	border: 0px;
	background:  transparent;
}
#search label #searchInput:focus {
	outline: none;
	border: 0px;

}
	.span-18 {
		margin-right: 0px !important;
		width: 718px !important;
		}
  UL.drawers {
	width: 230px;
    }
.drawers .drawer {
	background-color: #333132;
}
    
    UL {
        list-style: none;
        margin: 0;
        padding: 0px;
    }
    
    LI A {
	text-decoration: none;
    }
    
    H2.drawer-handle {
	margin: 0;
	padding: 0px;
	background-color: #333132;
    }
    
    H2.drawer-handle.open {
	background-color: #333132;
    }



/* 

NOVEDADES

*/
    .novedades li {
	float: left;
	width: 143px;
	background-image: url(../images/box_bkg.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 191px;
	}

.novedades .novedades-imagen {
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 7px;
	margin-bottom: 10px;
}


.novedades .shows {
	width: 144px;
}

.novedades .shows a {
	background-image: url(../images/box_click_shows.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 144px;
	height: 41px;
	text-indent: -5000px;
}

.novedades .shows a:hover {
	background-position: 0px -41px;
}

.novedades .promos a {
	background-image: url(../images/box_click_promos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 143px;
	height: 41px;
	text-indent: -5000px;
}

.novedades .promos a:hover {
	background-position: 0px -41px;
}

.novedades .torneos {
	width: 144px;
}

.novedades .torneos a {
	background-image: url(../images/box_click_torneos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 144px;
	height: 41px;
	text-indent: -5000px;
}

.novedades .torneos a:hover {
	background-position: 0px -41px;
}

.novedades .hotel {
	width: 143px;
}

.novedades .hotel a {
	background-image: url(../images/box_click_hotel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 143px;
	height: 41px;
	text-indent: -5000px;
}

.novedades .hotel a:hover {
	background-position: 0px -41px;
}
.novedades li.fotos {
	/* CARGO ESTA CLASE PARA CERRAR EL FONDO SIN EL BORDE DEL PNG */
	width: 144px;
	background-image: url(../images/box_bkg.png);
	background-repeat: no-repeat;
	background-position: left top;
	}

.novedades .fotos {
	width: 144px;
}

.novedades .fotos a {
	background-image: url(../images/box_click_fotos.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 144px;
	height: 41px;
	text-indent: -5000px;
}

.novedades .fotos a:hover {
	background-position: 0px -41px;
}
.drawer-foto, .drawer-texto {
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
}
.drawer-foto {
	margin-top: 15px;
}

.drawer ul {
	display: block;
	width: 232px;
	margin: 0px;
	padding: 0px;
}

#pagina-hotel #header #nav {
	background-image: url(../images/paginas/hotel_header.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}


.contenido-hotel {
	position: relative;
	width: 950px;
/*
	background-image: url(../images/paginas/hotel.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 800px;
*/
}



.contenido-hotel .imagen-fondo {
	position: absolute;
	top: 0;
	z-index: 0;
	clear: both;
} 

.contenido-hotel .contenido {
	z-index: 20;
	position: relative;
} 


.contenido-hotel .alpha {
	width: 100%;
	height: 534px;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/alpha.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}

	
.contenido-hotel .contenido .sub-menu {
	width: 100%;
	height: 61px;
	background-image: url(../images/paginas/hotel_subnav.png);
	background-repeat: repeat;
	background-position: 0px 0px;
}

.contenido-hotel .contenido .sub-menu h2 {
	padding-top: 14px;
	color: white;
	font: 18px/27px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform:  uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 0 auto;
	width: 188px;
	float: left;
}
.contenido .sub-menu ul {
	width:			100%;
	padding-top: 20px;
}
.contenido .sub-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.contenido .sub-menu li {
	margin: 0;
	padding: 0;
	float:			left;
	position:		relative;

}
.contenido .sub-menu li a {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	font: 9px/12px 'FuturaLTBookBold', Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	display:		block;
	position:		relative;
	margin: 0 5px;
	padding: 7px;
	border: 1px solid transparent;
}
.contenido .sub-menu a:hover {
	border: 1px solid rgba(255,255,255,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	}

.contenido .sub-menu a:active {
	border: 1px solid rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.4);
	
}
.contenido .titulo {	
	position: absolute;
	right: 0;
	margin-top: 300px;
	width: 753px;
	height: 75px;
}

.contenido .titulo h3 {
	/* border: 1px green solid; */
	margin-top: 23px;
	text-align: right;
	color: white;
	font: 16px/27px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform:  uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
	margin-right: 10px;
}

.contenido .slideshow-paginas {
	position: absolute;
	right: 0;
	/* border: 1px yellow solid; */
	margin-top: 376px;
	width: 753px;
	height: 300px;
	overflow: hidden;
}

.contenido .slide-wrapper-paginas {
	
}

.contenido .slideshow-paginas .subpagina {
	border-right: 1px solid transparent;
	float: left;
/* 	border: 1px green solid; */
	width: 250px;
	height: 300px;
}

.contenido .slideshow-paginas .subpagina .imagen-subpagina {
	position: absolute;
	margin: 0;
	padding: 0;
	
}

.contenido .slideshow-paginas .subpagina p.titulo-subpagina {
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	
	width: 240px;
	position: absolute;
	margin: 0px;
	margin-top: 141px;
	text-align: right;
	color: #fff;

	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	font: 11px/12px 'FuturaLTBookBold', Helvetica, Arial, sans-serif;

}

.contenido-hotel .contenido .titulo {	
	background-color: rgba(235,190,68,0.5)
}

.contenido-hotel .contenido .slideshow-paginas .subpagina p.titulo-subpagina {
	background-color: #ebc45b;
	border-top: 1px solid #e6ddc7;
}
