@charset "UTF-8";

@font-face {
  font-weight: bold;
  font-family: 'FuturaLTMediumRegular';
  src: url('fonts/lte50186.eot');
  src: local('Futura LT Medium'), local('FuturaLT'), url('fonts/lte50186.woff') format('woff'), url('fonts/lte50186.ttf') format('truetype'), url('fonts/lte50186.svg#FuturaLT') format('svg');
}

@font-face {
  font-family: 'FuturaLTBoldRegular';
  src: url('fonts/lte50154.eot');
  src: local('Futura LT Bold'), local('FuturaLT-Bold'), url('fonts/lte50154.woff') format('woff'), url('fonts/lte50154.ttf') format('truetype'), url('fonts/lte50154.svg#FuturaLT-Bold') format('svg');
}

@font-face {
  font-family: 'FuturaLTBookBold';
  src: url('fonts/futuralt_bold.eot');
  src: local('Futura LT Book'), local('FuturaLT-Bold'), url('fonts/futuralt_bold.woff') format('woff'), url('fonts/futuralt_bold.ttf') format('truetype'), url('fonts/futuralt_bold.svg#FuturaLT-Bold') format('svg');
}

body {
  background: #000	none;
  color: #F4F4F4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

li a {
  text-decoration: none;
}

#header #logo {
  width: 188px !important;
  height: 165px !important;
  margin:0px;
  padding: 0px !important;
  position: relative;
}
#header #logo h1 a {
  width: 188px !important;
  height: 165px !important;
  display:block;
  text-indent:-9000px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
}
#header #nav {
  display: block;
  height: 165px;
  width: 762px;
  background-color: #000;
  background-image: url(../images/header_bkg.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
#nav #menu {
  margin-top: 130px;
}

#header #logo h1 a:hover {
  background-position: left -165px;
}


.menu, .menu * {
  font-family:  Georgia, sans-serif;
  font-size:  11px;
  line-height:	1.7;
  color: #f1da34;
  margin:			0;
  padding:		0;
  list-style:		none;
}

.menu ul li {
  width:			100%;
}

.menu li:hover {
  visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.menu li {
  float:			left;
  position:		relative;
}
.menu a {
  display:		block;
  position:		relative;
}

#hotel a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 49px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat 0px 0px !important;
}
#hotel a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat 0px -35px !important;
}

#casino a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 56px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -49px 0px !important;
}
#casino a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -49px -35px !important;
}

#banquetesconvenciones a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 166px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -105px 0px !important;
}
#banquetesconvenciones a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -105px -35px !important;
}

#espectaculos a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 90px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -271px 0px !important;
}
#espectaculos a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -271px -35px !important;
}

#promociones a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 90px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -361px 0px !important;
}
#promociones a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -361px -35px !important;
}

#gastronomia a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 90px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -451px 0px !important;
}
#gastronomia a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -451px -35px !important;
}

#giftshop a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 69px !important; height: 35px;
  background: transparent url(../images/nav_menu.png) no-repeat -541px 0px !important;
}
#giftshop a:hover {
  background: transparent url(../images/nav_menu.png) no-repeat -541px -35px !important;
}

#search {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  width: 152px !important; height: 35px;
  background: transparent url(../images/header_buscador.png) no-repeat 0px 0px !important;
}
#search label #searchInput {
  outline: none;
  margin-top: 9px;
  margin-left: 26px;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  height: 15px;
  width: 113px;
  border: 0px;
  background:  transparent;
}
#search label #searchInput:focus {
  outline: none;
  border: 0px;

}
.span-18 {
  margin-right: 0px !important;
  width: 718px !important;
}


/* Accordion */
ul.drawers {
  width: 232px;
  background-color: #333132;
}

ul.drawers .drawer ul {
  display: block;
  width: 232px;
  margin: 0px;
  padding: 0px;
}

ul.drawers li.drawer {
  display: block;
}

ul.drawers li.drawer div.drawer-handle {
  background: transparent url(../images/accordion-title-background.png) repeat-x 0px 0px !important;
  color: #fff;
  cursor: pointer;
  height: 24px;
  font: 9px/24px "FuturaLTMediumRegular", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #333132;
}

ul.drawers .drawer div.accordion-container {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 15px;
}

ul.drawers .drawer div.accordion-categories {
  text-align: left;
  padding-bottom:15px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

ul.drawers .drawer div.accordion-container img {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

ul.drawers .drawer div.accordion-container .drawer-texto {
  font: normal normal normal 11px/14px "FuturaLTMediumRegular", Helvetica, Arial, sans-serif;
  margin: 6px 0;
  font-size: 10px;
  text-align: left;
  line-height: 12px;
  margin-bottom: 5px !important;
}

ul.drawers .drawer div.accordion-container .drawer-texto p {
  
}
/* end accordion */



/* Slideshow */

.slideshow, .slideshow .picture {
  width: 720px;
  height: 405px;
  overflow: hidden;
  position: relative;
}

.slideshow .picture {
  position: relative;
}

.slideshow .slide-wrapper {
  height: 405px;
}
.slideshow .picture {
  float: left;
  color: #fff;
  position: relative;
}

.slideshow .picture img {
  position: absolute;
  left: 0; top: 0;
  z-index: 0;
}

.slideshow .picture h3 {
  font: 35px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 720px;
  left: 0px; top: 240px;
  padding: 25px;
  padding-left: 35px;
  z-index: 10;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.slideshow .picture .text {
  position: absolute;
  left: 0px; bottom: 0px;
  width: 720px;
  z-index: 10;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  padding: 25px;
  padding-left: 35px;
  font: 12px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
}

.slide-index {
  font: 12px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  position: relative;
  margin: -195px 0 167px 0;
  z-index: 30;
}

.slide-index ul {
  height: 30px;
  text-align: right;
}

.slide-index ul li {
  background-color: rgba(0,0,0,0.2);
  display: inline-block;
  width: 30px; height: 30px; line-height: 30px;
  text-align: center;
  /*
	border-top: 1px solid rgba(255,255,255,0.2);
	border-left: 1px solid rgba(255,255,255,0.2);
	border-right: 1px solid rgba(255,255,255,0.2);
  */
}


.slide-index ul li:hover,.slide-index ul li:active {
  /*
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.5);
  */
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
/*  end slideshow */

/*

NOVEDADES

*/
.novedades li {
  float: left;
  width: 143px;
  background-image: url(../images/box_bkg.png);
  background-repeat: no-repeat;
  background-position: right top;
  height: 191px;
}

.novedades .novedades-imagen {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 7px;
  margin-bottom: 10px;
}


.novedades .shows {
  width: 144px;
}

.novedades .shows a {
  background-image: url(../images/box_click_shows.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
  width: 144px;
  height: 41px;
  text-indent: -5000px;
}

.novedades .shows a:hover {
  background-position: 0px -41px;
}

.novedades .promos a {
  background-image: url(../images/box_click_promos.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
  width: 143px;
  height: 41px;
  text-indent: -5000px;
}

.novedades .promos a:hover {
  background-position: 0px -41px;
}

.novedades .torneos {
  width: 144px;
}

.novedades .torneos a {
  background-image: url(../images/box_click_torneos.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
  width: 144px;
  height: 41px;
  text-indent: -5000px;
}

.novedades .torneos a:hover {
  background-position: 0px -41px;
}

.novedades .hotel {
  width: 143px;
}

.novedades .hotel a {
  background-image: url(../images/box_click_hotel.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
  width: 143px;
  height: 41px;
  text-indent: -5000px;
}

.novedades .hotel a:hover {
  background-position: 0px -41px;
}
.novedades li.fotos {
  /* CARGGO ESTA CLASE PARA CERRAR EL FONDO SIN EL BORDE DEL PNG */
  width: 144px;
  background-image: url(../images/box_bkg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.novedades .fotos {
  width: 144px;
}

.novedades .fotos a {
  background-image: url(../images/box_click_fotos.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
  width: 144px;
  height: 41px;
  text-indent: -5000px;
}

.novedades .fotos a:hover {
  background-position: 0px -41px;
}


#pagina-hotel #header #nav,
#pagina-habitaciones #header #nav,
#pagina-restaurante #header #nav,
#pagina-piscina #header #nav

{
  background-image: url(../images/paginas/hotel_header.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#pagina-casino #header #nav,
#pagina-torneosdepoker #header #nav,
#pagina-clubmagicvip #header #nav,
#pagina-mesasdejuego #header #nav {
  background-image: url(../images/paginas/casino_header.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#pagina-espectaculos #header #nav {
  background-image: url(../images/paginas/espectaculos_header.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#pagina-banquetesconvenciones #header #nav {
  background-image: url(../images/paginas/banquetes_header.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}


.contenido-habitaciones,
.contenido-habitacionstandard,
.contenido-hotel,
.contenido-casino,
.contenido-banquetesconvenciones,
.contenido-espectaculos,
.contenido-promociones,
.contenido-gastronomia,
.contenido-giftshop {
  position: relative;
  width: 950px;
}

.contenido {
  /*height: 990px;*/
  padding-bottom: 30px;
}

.imagen-fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  clear: both;
}

.contenido {
  z-index: 20;
  position: relative;
}

.alpha {
  width: 100%;
  height: 534px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/alpha.png);
  background-repeat: repeat-x;
  background-position: 0px bottom;
}

.contenido .sub-menu {
  width: 100%;
  height: 61px;
}

.contenido .sub-menu h2 {
  padding-top: 23px;
  color: white;
  font: 13px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform:  uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  width: 188px;
  float: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.contenido .sub-menu ul {
  width:			100%;
  padding-top: 20px;
}
.contenido .sub-menu li:hover {
  visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.contenido .sub-menu li {
  margin: 0;
  padding: 0;
  float:			left;
  position:		relative;

}
.contenido .sub-menu li a {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  font: 9px/12px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display:		block;
  position:		relative;
  margin: 0 5px;
  padding: 7px;
  border: 1px solid transparent;
}
.contenido .sub-menu a:hover {
  border: 1px solid rgba(255,255,255,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.contenido .sub-menu a:active {
  border: 1px solid rgba(255,255,255,0.4);
  background-color: rgba(255,255,255,0.4);

}


.contenido .noticia-bloque {
  
  margin-top: 310px;
  position: relative;
}

.contenido .noticia-bloque .titulo {
  margin-bottom: 1px;
  margin-left: 197px;
  width: 753px;
  height: 75px;
}


.contenido .noticia-bloque .titulo h3 {
  margin: 0;
  padding: 28px 10px 0 0;
  text-align: right;
  color: white;

  font: normal normal normal 16px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  text-transform:  uppercase;

  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}



.contenido .noticia-bloque .slideshow-paginas {
  margin-left: 197px;
  width: 753px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.contenido .slide-wrapper-paginas {

}

.contenido .noticia-bloque .slideshow-paginas .subpagina {
  border-right: 1px solid transparent;
  float: left;
  /* 	border: 1px green solid; */
  width: 250px;
  height: 300px;
}

.contenido .noticia-bloque .slideshow-paginas .subpagina .imagen-subpagina {
  position: absolute;
  margin: 0;
  padding: 0;
}

/* arrows */
.contenido .noticia-bloque a.arrow {
  width: 22px; height: 31px;
  background: transparent url(../images/flechas_slideshow.png) no-repeat left top;
  position: absolute;
  z-index: 100;
  right: 10px; top: 130px;
}

.contenido .noticia-bloque a.arrow:hover {
  background-position: 0px -31px;
  cursor: pointer;
}

.contenido .noticia-bloque a.arrow-left {
  right: 720px;
  background-position: -21px 0px;
  display: none;
}

.contenido .noticia-bloque a.arrow-left:hover {
  background-position: -21px -31px;
}



/* Modifico el aspecto del tag P, para mostrar el titulo */
/* El color de fondo del titulo va luego en .contenido-NOMBREPAGINA .contenido. .titulo-subpagina */

.contenido .slideshow-paginas .subpagina p.titulo-subpagina {
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;

  width: 240px;
  position: absolute;
  margin: 0px;
  margin-top: 141px;
  text-align: right;
  color: #fff;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  font: 11px/12px "FuturaLTMediumRegular", Helvetica, Arial, sans-serif;
}

.contenido .slideshow-paginas .subpagina p.titulo-subpagina a {
  color: #fff;
}

.contenido .slideshow-paginas .subpagina p.titulo-subpagina a:hover {
  color: #F05;
}

/* Modifico el aspecto del SPAN, para mostrar resumen */
.contenido .slideshow-paginas .subpagina .resumen-subpagina {
  width: 240px;
  height: 250px;

  padding-left: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-top: 10px;

  position: absolute;
  margin: 0px;
  margin-top: 175px;


  /* border: 1px solid green; */

  font: 11px/12px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  text-align: justify;
}


/* ESTILO ESPECIAL PARA CADA SECCION */

.contenido-hotel .contenido .sub-menu, .contenido-hotel .contenido .titulo, .contenido-hotel .contenido .resumen-subpagina,
.contenido-habitaciones .contenido .sub-menu, .contenido-habitaciones .contenido .titulo, .contenido-habitaciones .contenido .resumen-subpagina,
.contenido-habitacionstandard .contenido .sub-menu, .contenido-habitacionstandard .contenido .titulo, .contenido-habitacionstandard  .contenido .resumen-subpagina
{
  background-color: rgba(235,190,68,.8);
}


.contenido-hotel .contenido .slideshow-paginas .subpagina p.titulo-subpagina,
.contenido-habitaciones .contenido .slideshow-paginas .subpagina p.titulo-subpagina,
.contenido-habitacionstandard .contenido .slideshow-paginas .subpagina p.titulo-subpagina
{
  background-color: #ebbe44;
  border-top: 1px solid #e6ddc7;
}

.contenido-casino .contenido .sub-menu, .contenido-casino .contenido .titulo, .contenido-casino .contenido .resumen-subpagina {
  background-color: rgba(145, 0, 0, .5);
}

.contenido-casino .contenido .slideshow-paginas .subpagina p.titulo-subpagina {
  background-color: #a12524;
  border-top: 1px solid #dec4c3;
}

.contenido-banquetesconvenciones .contenido .sub-menu, .contenido-banquetesconvenciones .contenido .titulo, .contenido-banquetesconvenciones .contenido .resumen-subpagina {
  background-color: rgba(146, 56, 85, .5);
}

.contenido-banquetesconvenciones .contenido .slideshow-paginas .subpagina p.titulo-subpagina {
  background-color: #923855;
  border-top: 1px solid #bc4a6f;
}

.contenido-espectaculos .contenido .sub-menu, .contenido-espectaculos .contenido .titulo, .contenido-espectaculos .contenido .resumen-subpagina {
  background-color: rgba(68, 221, 235, .5);
}

.contenido-espectaculos .contenido .slideshow-paginas .subpagina p.titulo-subpagina {
  background-color: #44ddeb;
  border-top: 1px solid #69f3ff;
}


/* FIN DE ESTILO ESPECIAL PARA CADA SECCION */




/* CSS PARA PAGINAS */


.contenido .subpagina-contenido {
  margin-left: 197px;
  position: relative;
  width: 752px;
  border-right: 1px solid #000;
  height: 250px;
  overflow: hidden;
}

.contenido .subpagina-contenido h3 {
  margin-top: 15px;
  margin-left: 10px;
  text-align: left;
  color: white;
  font: 14px/16px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform:  uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);

}

.contenido .subpagina-contenido p, .contenido .subpagina-contenido li {
  padding-left: 10px;
  padding-right: 10px;

  width: 260px;
  text-align: left;
  color: #fff;
  float: left;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  font: 11px/14px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
}


/* COLOR DE FONDO CUSTOMIZADO PARA CADA PAGINA */

#pagina-hotel .contenido .subpagina-contenido,
#pagina-restaurante .contenido .subpagina-contenido,
#pagina-habitaciones .contenido .subpagina-contenido 

{
  background-color: #3c2c13;
}
#pagina-mesasdejuego .contenido .subpagina-contenido,
#pagina-torneosdepoker .contenido .subpagina-contenido,
#pagina-clubmagicvip .contenido .subpagina-contenido {
  background-color: #5a0502;
}

#pagina-espectaculos .contenido .subpagina-contenido {
  background-color: #016781;
}

#pagina-banquetesconvenciones .contenido .subpagina-contenido {
  background-color: #63132d;
}

#pagina-banquetesconvenciones .contenido .sub-menu h2 {
  padding-top: 14px !important;
}

#global .above-menu {
  margin: 0;
  padding: 0;
  float:			left;
  position:		relative;
}

#global .above-menu ul li {
  width:			100%;
}

#global .above-menu li:hover {
  visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#global .above-menu li {
  float:			left;
  position:		relative;
}
#global .above-menu a {
  display:		block;
  position:		relative;
}



#mapa a,
#facebook a,
#contactenos a,
#login a {
  display:  block !important;
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 40px !important; height: 30px;
}

#mapa a {
  background: transparent url(../images/iconos.png) no-repeat 0px 0px !important;
}

#mapa a:hover {
  background: transparent url(../images/iconos.png) no-repeat 0px -30px !important;
}

#facebook a {
  background: transparent url(../images/iconos.png) no-repeat -40px 0px !important;
}

#facebook a:hover {
  background: transparent url(../images/iconos.png) no-repeat -40px -30px !important;
}

#contactenos a {
  background: transparent url(../images/iconos.png) no-repeat -80px 0px !important;
}

#contactenos a:hover {
  background: transparent url(../images/iconos.png) no-repeat -80px -30px !important;
}

#login a {
  background: transparent url(../images/iconos.png) no-repeat -120px 0px !important;
}

#login a:hover {
  background: transparent url(../images/iconos.png) no-repeat -120px -30px !important;
}

#reservas a {
  padding: 0px !important; margin: 0px;
  text-indent: -5000px;
  width: 152px !important; height: 30px;
  background: transparent url(../images/iconos.png) no-repeat -161px 0px !important;
}

#reservas a:hover {
  background: transparent url(../images/iconos.png) no-repeat -161px -30px !important;
}

#global {
  
}

/*

#reservas {
	display: block;
	overflow: hidden;
}
*/
#iframeBEIdiso {
	background-color: #c0ab10;
	display: none;
	/* float: right; */
	position: absolute;
	z-index: 5000;
	width: 150px;
/*
	top: 0px;
	right: -17px;
*/
/* 	height: 10px; */
	height: 0 !important;
	overflow:hidden;
}

#reservas ul {
	margin: 0;
}

/* SHOWS */


.contenido .main-show {
	background-color: rgba(0, 0, 0, 0.6);
  margin-top: 220px;
  position: relative;
    margin-bottom: 1px;
  margin-left: 197px;
  width: 753px;
}

.contenido .main-show h2 
{
margin-bottom: 0px;
padding-left: 5px;
padding-top: 15px;
}

.contenido .main-show h2 a {
  margin: 0 !important;
  padding: 28px 10px 0 0;
  text-align: left;
  color: white;
  font: normal normal normal 21px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  text-transform:  uppercase;

  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.contenido .main-show h2 a:hover {
  text-decoration: underline;
  color: #44ddeb;
}


.contenido .main-show h3, .contenido .main-show .category {
  margin: 0 !important;
  padding: 0;
  text-align: left;
  color: white;
  font: 11px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  text-transform:  uppercase;

  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.contenido .main-show h3 {
	font: bold 11px 'FuturaLTBoldRegular', Helvetica, Arial, sans-serif;
}
.contenido .main-show h3, .contenido .main-show .category
{
padding-left: 5px;
}
.contenido .main-show .category
{
padding-bottom: 15px;
}

.shows-wrapper {
  background-color: rgba(68, 221, 235, 0.6);
  position: relative;
  margin-bottom: 1px;
  margin-left: 197px;
  width: 753px;
}

.belterra, .rainbow, .event, .jokers  {
	padding-top: 10px;
	padding-left: 5px;
}

.belterra h2, .rainbow h2, .event h2, .jokers h2 {
  width: auto;
  margin: 0 !important;
  padding: 28px 10px 0 0;
  text-align: left;
  color: white;
  font: normal normal normal 21px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  text-transform:  uppercase;

  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.shows-wrapper div {
	clear: both;
}

.shows-wrapper ul li {
  float: left;
  width: 143px;
  overflow: hidden;
  position: relative;
}

.shows-wrapper li h3, .shows-wrapper li h4 {
	margin-bottom: 0 !important;
}


.shows-wrapper .count-event {
	/*
display: block;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: red;
  
  color: white;
  font: 9px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  float: left;
  margin: 0;
  margin-top: 28px;
*/
  
  -webkit-border-bottom-left-radius: 2px 2px;
-webkit-border-bottom-right-radius: 2px 2px;
-webkit-border-top-left-radius: 2px 2px;
-webkit-border-top-right-radius: 2px 2px;
background-color: rgb(0, 55, 106);

display: none;
font-size: 9px;
font-weight: bold;
padding-bottom: 1px;
position: absolute;
right: -2px;
top: -2px;
z-index: 3;  
}

.shows-wrapper .belterra .count-event {

 margin-left: 70px;
 
 }

.shows-wrapper li h3 a {
  margin: 0 !important;
  padding: 0;
  text-align: left;
  color: #004046;
  font: 12px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  text-decoration: none;
}

.shows-wrapper li h3 a:hover {
	background-color: white;
	color: #004046;
}
.shows-wrapper li h4, .shows-wrapper li .description {
  margin: 0 !important;
  padding: 0;
  text-align: left;
  color: #004046;
  font: 10px 'FuturaLTMediumRegular', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  text-decoration: none;
}

.shows-wrapper li .description {
	padding: 5px;
	width: 120px; height: 120px;
	background-color: #004d54;
	font-weight: normal;
	color: #e7fbfd;
}

.shows-wrapper li .img-placeholder {
	border: 0;
	left: 0px; top: 28px;
	position: absolute;
	width: 130px; height: 130px;
}



/*
#mapa a:hover,
#facebook a:hover,
#contactenos a:hover,
#login a:hover, #reservas a:hover  {
  background-position-y: -30px;
}
*/


