@import "../_commons/interface.dialog";
@import "../_commons/interface.scrollbar";

/* Filas del listado */
  #sf_admin_content {

    /* Styles primarily to form EDIT */
    .sf_admin_form {
      width: 100%;

      /*
      input[type=text], input[type=password], textarea, select {
        border: 1px solid rgba(200, 200, 200, 0.8);
        .border-radius(4px);
        padding: 1px 4px;
        color: #040;
      }

      textarea {
        min-height: 60px;
      }*/

      h2 {
        .text-shadow;
        margin: 0 0 5px 0; padding: 0;
        color: rgba(50, 60, 90, 0.8);
      }

      fieldset {
        .box-sizing;
        margin-bottom: 5px;
        position: relative;

        > div {
          margin: 5px 1px;
          border: 1px solid rgba(200, 200, 200, 0.2);
          background-color: #f8f8f8;
          padding: 2px;
          .border-radius(4px);

          label {
            color: #444;
          }
        }
      }
    }

    /* Actions */
    ul.sf_admin_actions, ul.sf_admin_td_actions {
      list-style: none;

      li {
        display: inline-block;
      }
    }

    ul.sf_admin_td_actions {
      margin: 0; padding: 0;
      li {
        a {
          font-size: 9px;
          .border-radius(4px);
          padding: 2px 5px;
          background-color: #4Ac;
          color: #FFF;
        }
        a:hover {
          background-color: #4DF;
          color: #234;
        }
      }
    }

    .sf_admin_batch_actions_choice {
      -webkit-border-radius: 6px;
      padding: 1px 3px;
      background-color: #f2f2f2;
    }

    ul.sf_admin_actions {
      
    }
  }